In [1]:
import pandas as pd

In [4]:
# Load NFI Data
nfi_final_data = pd.read_csv(
    "../00_process_nfi_data/20231123-191200_nfi_dataset_for_analysis copy.csv",
    index_col=[0],
)

nfi_final_data.head()

/var/folders/39/534x_msj7sl1kcxj2mg109x40000gn/T/ipykernel_3141/882223052.py:2: DtypeWarning: Columns (57,64,67,79,80,81,94,95,96,97,112,113,118,119,121,125,131,133,163) have mixed types. Specify dtype option on import or set low_memory=False.
  nfi_final_data = pd.read_csv(

,idp,dominant_species,dominant_tree_class,n_species_per_plot,site_total_ba_at_v1,site_total_ba_at_v2,site_ba_prc_dead_at_v1,site_ba_prc_dead_at_v2,site_ba_prc_cut_at_v2,site_ba_prc_rec_at_v2,...,obsriv2,typriv,distriv,denivriv,lign2,lign1,herb,mousse,obsveget,obsdate
1,632691,none,pinus,5,40.108598,45.709274,0.0,0.054194,0.0,1.0,...,NaN,NaN,NaN,NaN,10.0,1.0,8.0,2.0,NaN,NaN
2,632691,none,pinus,5,40.108598,45.709274,0.0,0.054194,0.0,1.0,...,NaN,NaN,NaN,NaN,10.0,1.0,8.0,2.0,NaN,NaN
3,632691,none,pinus,5,40.108598,45.709274,0.0,0.054194,0.0,1.0,...,NaN,NaN,NaN,NaN,10.0,1.0,8.0,2.0,NaN,NaN
4,632691,none,pinus,5,40.108598,45.709274,0.0,0.054194,0.0,1.0,...,NaN,NaN,NaN,NaN,10.0,1.0,8.0,2.0,NaN,NaN
5,632691,none,pinus,5,40.108598,45.709274,0.0,0.054194,0.0,1.0,...,NaN,NaN,NaN,NaN,10.0,1.0,8.0,2.0,NaN,NaN

In [5]:
# Original NFI Variables
nfi_org = pd.read_excel(
    "20231124_ifna_predictor_database.xlsx", sheet_name="NFI Original Variables"
)[["var", "type", "level", "remove"]]

# NFI Derivative Variables
nfi_derivatives = pd.read_excel(
    "20231124_ifna_predictor_database.xlsx", sheet_name="NFI Derivatives"
)[["var", "type", "level", "remove"]].dropna(subset=["type"])

# Add suffixes _1 and _2 to the original variables
suffix_1 = nfi_org.copy()
suffix_2 = nfi_org.copy()

suffix_1["var"] = suffix_1["var"].apply(lambda x: x + "_1")
suffix_2["var"] = suffix_2["var"].apply(lambda x: x + "_2")

# Concatenate them
vars_described_in_sheet = pd.concat([nfi_org, suffix_1, suffix_2, nfi_derivatives])
# vars_described_in_sheet

                     var type     level remove
0                espar_c  cat  location    NaN
1                  p1525  cat  location    NaN
2                 p7ares  cat  location    NaN
3                 strate  cat  location    NaN
4                  humus  cat  location    NaN
..                   ...  ...       ...    ...
74         mort_ba_yr_v2  num  grouping    NaN
75  tot_growth_ba_prc_yr  num  grouping    NaN
76  sur_growth_ba_prc_yr  num  grouping    NaN
77     mort_ba_prc_yr_v1  num  grouping    NaN
78     mort_ba_prc_yr_v2  num  grouping    NaN

[566 rows x 4 columns]

In [6]:
# Extract variables that are in the final wrangled nfi dataset
final_vars = nfi_final_data.columns.to_frame(index=False, name="var").sort_values("var")

# Remove all variables that can be found in the excel file:
mask = final_vars["var"].isin(vars_described_in_sheet["var"])
not_described_vars = final_vars[~mask]

# Print output
print("Variables that are not registered in the excel:")
display(not_described_vars)

Variables that are not registered in the excel:

Empty DataFrame
Columns: [var]
Index: []

In [7]:
# Check if variables are described in the excel file that are not in the final wrangled nfi dataset
# Extract all derivatives
all_ders = nfi_derivatives["var"]

# Find entries in var that are in all_ders but not in final_vars
mask = nfi_derivatives["var"].isin(final_vars["var"])
documented_but_not_in_final_df = nfi_derivatives[~mask]

# Print the output
print(
    "Variables that are documented in the excel but not in the final wrangled nfi dataframe:"
)
display(documented_but_not_in_final_df)

Variables that are documented in the excel but not in the final wrangled nfi dataframe:

                             var type     level remove
53                       n_plots  num  grouping    NaN
54                         n_ini  num  grouping    NaN
55                         n_sur  num  grouping    NaN
56                         n_fin  num  grouping    NaN
57                         n_rec  num  grouping    NaN
58       ba_at_v1_of_alive_trees  num  grouping    NaN
59       ba_at_v2_of_alive_trees  num  grouping    NaN
60         ba_at_v1_of_survivors  num  grouping    NaN
61         ba_at_v2_of_survivors  num  grouping    NaN
62              ba_at_v1_of_dead  num  grouping    NaN
63              ba_at_v2_of_dead  num  grouping    NaN
64          ba_at_v2_of_recruits  num  grouping    NaN
65         mort_stems_prc_yr_esq  num  grouping    NaN
66     mort_stems_prc_yr_hoshino  num  grouping    NaN
67      rec_stems_prc_yr_hoshino  num  grouping    NaN
68        mort_ba_prc_yr_hoshino  num  grouping    NaN
69  tot_growth_ba_prc_yr_hoshino  num  grouping    NaN
70  sur_growth_ba_prc_yr_hoshino  num  grouping    NaN
71              tot_growth_ba_yr  num  grouping    NaN
72              sur_growth_ba_yr  num  grouping    NaN
73                 mort_ba_yr_v1  num  grouping    NaN
74                 mort_ba_yr_v2  num  grouping    NaN
75          tot_growth_ba_prc_yr  num  grouping    NaN
76          sur_growth_ba_prc_yr  num  grouping    NaN
77             mort_ba_prc_yr_v1  num  grouping    NaN
78             mort_ba_prc_yr_v2  num  grouping    NaN